@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  .theme {
    --font-sans: DM Sans, sans-serif;
    --font-mono: Menlo, monospace;
    --font-serif: Georgia, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  :root {
    --background: #121113;
    --foreground: #c1c1c1;
    --card: #121212;
    --card-foreground: #c1c1c1;
    --popover: #121113;
    --popover-foreground: #c1c1c1;
    --primary: #e78a53;
    --primary-foreground: #121113;
    --secondary: #5f8787;
    --secondary-foreground: #121113;
    --muted: #222222;
    --muted-foreground: #888888;
    --accent: #333333;
    --accent-foreground: #c1c1c1;
    --destructive: #5f8787;
    --destructive-foreground: #121113;
    --border: #222222;
    --input: #222222;
    --ring: #e78a53;
    --chart-1: #5f8787;
    --chart-2: #e78a53;
    --chart-3: #fbcb97;
    --chart-4: #888888;
    --chart-5: #999999;
    --sidebar: #121212;
    --sidebar-foreground: #c1c1c1;
    --sidebar-primary: #e78a53;
    --sidebar-primary-foreground: #121113;
    --sidebar-accent: #333333;
    --sidebar-accent-foreground: #c1c1c1;
    --sidebar-border: #222222;
    --sidebar-ring: #e78a53;
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
      0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
      0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
      0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
      0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
      0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  }
  .dark {
    --background: oklch(0.2721 0.0141 48.1783);
    --foreground: oklch(0.9529 0.0146 102.4597);
    --card: oklch(0.3291 0.0156 50.8936);
    --card-foreground: oklch(0.9529 0.0146 102.4597);
    --popover: oklch(0.3291 0.0156 50.8936);
    --popover-foreground: oklch(0.9529 0.0146 102.4597);
    --primary: oklch(0.7272 0.0539 52.332);
    --primary-foreground: oklch(0.2721 0.0141 48.1783);
    --secondary: oklch(0.5416 0.0512 37.2132);
    --secondary-foreground: oklch(0.9529 0.0146 102.4597);
    --muted: oklch(0.4063 0.0255 40.3627);
    --muted-foreground: oklch(0.7575 0.038 50.861);
    --accent: oklch(0.7473 0.0387 80.5476);
    --accent-foreground: oklch(0.2721 0.0141 48.1783);
    --destructive: oklch(0.6875 0.142 21.4566);
    --destructive-foreground: oklch(0.2721 0.0141 48.1783);
    --border: oklch(0.4063 0.0255 40.3627);
    --input: oklch(0.4063 0.0255 40.3627);
    --ring: oklch(0.7272 0.0539 52.332);
    --chart-1: oklch(0.7272 0.0539 52.332);
    --chart-2: oklch(0.7473 0.0387 80.5476);
    --chart-3: oklch(0.6083 0.0623 44.3588);
    --chart-4: oklch(0.5416 0.0512 37.2132);
    --chart-5: oklch(0.644 0.0405 52.3917);
    --radius: 0.5rem;
    --sidebar: oklch(0.2225 0.0098 52.9636);
    --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
    --sidebar-primary: oklch(0.7272 0.0539 52.332);
    --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
    --sidebar-accent: oklch(0.7473 0.0387 80.5476);
    --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
    --sidebar-border: oklch(0.4063 0.0255 40.3627);
    --sidebar-ring: oklch(0.7272 0.0539 52.332);
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --shadow-color: hsl(20 18% 30% / 0.5);
    --shadow-opacity: 0.11;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 2px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
      2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
      2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
      2px 2px 4px -1px hsl(20 18% 30% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
      2px 4px 6px -1px hsl(20 18% 30% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
      2px 8px 10px -1px hsl(20 18% 30% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}
