@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  .theme {
    --font-sans: Outfit, sans-serif;
    --font-mono: Space Mono, monospace;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0.25rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  :root {
    --background: oklch(0.9735 0.0261 90.0953);
    --foreground: oklch(0.3092 0.0518 219.6516);
    --card: oklch(0.9306 0.0260 92.4020);
    --card-foreground: oklch(0.3092 0.0518 219.6516);
    --popover: oklch(0.9306 0.0260 92.4020);
    --popover-foreground: oklch(0.3092 0.0518 219.6516);
    --primary: oklch(0.5924 0.2025 355.8943);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6437 0.1019 187.3840);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.6979 0.0159 196.7940);
    --muted-foreground: oklch(0.3092 0.0518 219.6516);
    --accent: oklch(0.5808 0.1732 39.5003);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.5863 0.2064 27.1172);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.6537 0.0197 205.2618);
    --input: oklch(0.6537 0.0197 205.2618);
    --ring: oklch(0.5924 0.2025 355.8943);
    --chart-1: oklch(0.6149 0.1394 244.9273);
    --chart-2: oklch(0.6437 0.1019 187.3840);
    --chart-3: oklch(0.5924 0.2025 355.8943);
    --chart-4: oklch(0.5808 0.1732 39.5003);
    --chart-5: oklch(0.5863 0.2064 27.1172);
    --radius: 0.25rem;
    --sidebar: oklch(0.9735 0.0261 90.0953);
    --sidebar-foreground: oklch(0.3092 0.0518 219.6516);
    --sidebar-primary: oklch(0.5924 0.2025 355.8943);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.6437 0.1019 187.3840);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.6537 0.0197 205.2618);
    --sidebar-ring: oklch(0.5924 0.2025 355.8943);
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --shadow-color: hsl(196 83% 10%);
    --shadow-opacity: 0.15;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 2px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
    --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
    --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
    --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
    --tracking-normal: 0em;
  }
  .dark {
    --background: oklch(0.2673 0.0486 219.8169);
    --foreground: oklch(0.6979 0.0159 196.7940);
    --card: oklch(0.3092 0.0518 219.6516);
    --card-foreground: oklch(0.6979 0.0159 196.7940);
    --popover: oklch(0.3092 0.0518 219.6516);
    --popover-foreground: oklch(0.6979 0.0159 196.7940);
    --primary: oklch(0.5924 0.2025 355.8943);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6437 0.1019 187.3840);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.5230 0.0283 219.1365);
    --muted-foreground: oklch(0.6979 0.0159 196.7940);
    --accent: oklch(0.5808 0.1732 39.5003);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.5863 0.2064 27.1172);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.5230 0.0283 219.1365);
    --input: oklch(0.5230 0.0283 219.1365);
    --ring: oklch(0.5924 0.2025 355.8943);
    --chart-1: oklch(0.6149 0.1394 244.9273);
    --chart-2: oklch(0.6437 0.1019 187.3840);
    --chart-3: oklch(0.5924 0.2025 355.8943);
    --chart-4: oklch(0.5808 0.1732 39.5003);
    --chart-5: oklch(0.5863 0.2064 27.1172);
    --radius: 0.25rem;
    --sidebar: oklch(0.2673 0.0486 219.8169);
    --sidebar-foreground: oklch(0.6979 0.0159 196.7940);
    --sidebar-primary: oklch(0.5924 0.2025 355.8943);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.6437 0.1019 187.3840);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.5230 0.0283 219.1365);
    --sidebar-ring: oklch(0.5924 0.2025 355.8943);
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --shadow-color: hsl(196 83% 10%);
    --shadow-opacity: 0.15;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 2px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
    --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
    --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
    --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}